<connectionStrings>
  <!-- Database Connection Information -->
  <add name="CedarGrove" connectionString="Data Source=glorykidd.com;Initial Catalog=CGBC;User Id=cgbc_user;Password=XJ$7d{84)sa(kV4;" />
  <!--<add name="CedarGrove" connectionString="Data Source=localhost;Initial Catalog=cgbc;User Id=sa;Password=p@ssword1;" />-->
</connectionStrings>
