#wrapper .header {
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 40px;
}

  #wrapper .header .RadMenu {
    margin: 10px 0;
    float: none;
  }

#wrapper .logo {
  margin: 10px 0;
  width: 100%;
  display: inline-block;
}

  #wrapper .logo img {
    max-width: 100%;
  }

#wrapper .jumbotron {
  padding: 1.875em;
  padding-top: 1em;
  background-color: lightcyan;
  border-radius: 10px;
  text-align: center;
}

  #wrapper .jumbotron .RadButton {
    float: right;
    margin-top: .667em;
    font-size: .5em;
  }

  #wrapper .jumbotron img {
    max-width: 100%;
  }

.MyLabel {
  display: block;
  width: 150px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel2 {
  display: block;
  width: 170px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel3 {
  display: block;
  width: 200px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyLabel4 {
  display: block;
  width: 210px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: bold;
}

.MyContactLabel {
  display: block;
  width: 90px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: right;
}

.RadButton.rbRounded.css3Simple {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  font-size: 1em;
}

.RadButton.rbRounded.css3SimpleAction {
  height: 37px;
  width: 200px;
  border-radius: 5px;
  font-size: .75em;
  padding: 5px;
}

.RadButton.rbRounded.css3Simple2 {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 1em;
}

  .RadButton.rbRounded.css3Simple2 .rbText {
    margin-top: 0 !important;
  }

html body form .RadInput .MyEmptyTextBox,
html body form .RadInput .MyEnabledTextBox,
html body form .RadInput .MyFocusedTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyHoveredTextBox {
  background: #bceff8 !important;
}

html body form .RadInput .MyFocusedTextBox {
  background: white !important;
}

.RadInput textarea.riTextBox {
  height: auto !important;
}

.RadComboBox .MyEnabledTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige !important;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyEmptyTextBox2,
html body form .RadInput .MyEnabledTextBox2,
html body form .RadInput .MyHoveredTextBox2,
html body form .RadInput .MyFocusedTextBox2 {
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
}

html body form .RadInput .MyDisabledTextBox {
  height: 38px;
  border-width: 0;
  border-color: #fff;
  font: 1em arial,sans-serif;
}

html body .RadInput .MyEmptyTextBox {
  color: #999;
}

html body form .RadInput .MyEnabledTextBox {
}

html body form .RadInput .MyHoveredTextBox {
  border-color: #6c6;
  background: #c9fdc9;
}

html body form .RadInput .MyFocusedTextBox {
  border-color: #3a3;
  background: #c9fdc9;
}

#messageDisplayArea {
  width: 100%;
  text-align: center;
}

.rcRefreshImage {
  padding-left: 25px;
  padding-right: 25px;
}

.MyCaptchaTextBox {
  height: 38px;
  border-width: 1px;
  border-color: #a9c9a9;
  background: beige;
  font: 14px/18px arial,sans-serif;
  border-radius: 5px;
  margin-right: 10px;
}

.errorMessageDisplay {
  padding-left: 10px;
  padding-right: 10px !important;
  line-height: 1em;
  background-color: darkred;
  font-weight: bold;
  color: white !important;
}

.successMessageDisplay {
  padding-left: 10px;
  padding-right: 10px !important;
  line-height: 1em;
  min-width: 186px;
  background-color: greenyellow;
  font-weight: bold;
  color: black;
}

.adminTiles {
  width: 100%;
  margin: auto !important;
  padding: 5px;
  min-height: 500px;
}

.adminGalleryTiles {
  width: 100%;
  margin: auto !important;
  padding: 5px;
}

.messageTextAreas {
  width: 100%;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  /*margin: auto;*/
}

.messageEventHeader {
  width: 99%;
  padding: 8px 13px 7px 13px;
  margin-right: 10px;
  line-height: 1.42857143;
  border: 1px solid;
  color: whitesmoke;
  border-color: #98acbf #728ba1 #3d556c #455f77;
  border-top-width: 0;
  background: linear-gradient(#748ea3,#6b849d 50%,#597791 50%,#748ea3);
  border-radius: 5px;
}

.pageCenter {
  width: 100%;
  text-align: center;
}

.listViewItemPopup {
  width: 98%;
  padding: 5px;
  margin: 5px;
  position: relative;
  height: 95%;
}

  .listViewItemPopup h4 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.25em;
  }

  .listViewItemPopup p > img {
    max-width: 100%;
  }

  .listViewItemPopup .listViewItemReadmore {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }

.trainingViewItem {
  width: 600px;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 5px;
  height: 450px;
  float: left;
  margin: 5px;
  position: relative;
}

  .trainingViewItem h4 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.25em;
  }

.listViewItem {
  width: 98%;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 5px;
  height: 380px;
  float: left;
  margin: 5px;
  overflow-y: hidden;
  position: relative;
}

  .listViewItem h4 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.25em;
  }

    .listViewItem h4 > img {
      width: 40px;
      float: left;
      padding-right: 5px;
    }

  .listViewItem p > img {
    max-width: 100%;
  }

  .listViewItem .listViewItemReadmore {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .listViewItem .listViewItemFade {
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 90px;
    /*-webkit-border-radius: 10px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(white));*/
    background: -moz-linear-gradient(top, rgba(137,255,241,0) 0%, white 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137,255,241,0) 0%,white 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137,255,241,0) 0%,white 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(137,255,241,0) 0%,white 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(137,255,241,0) 0%,white 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
  }

.memberListViewItem {
  width: 46%;
  border: solid 1px darkgray !important;
  border-radius: 10px !important;
  padding: 5px;
  /*  height: 400px;*/
  float: left;
  margin: 5px;
  overflow-y: hidden;
  position: relative;
}

  .memberListViewItem img {
    width: 100%;
    border-radius: 10px;
  }

  .memberListViewItem h4 {
    font-weight: bold;
    font-size: 1.2em !important;
    line-height: 1.2em !important;
    margin-block-start: .25em !important;
    margin-block-end: .25em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
  }

.podcastListViewItem {
  width: 350px;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 5px;
  height: 350px;
  float: left;
  margin: 5px;
}

  .podcastListViewItem .mediaPlayerFeed {
    height: 255px;
  }

  .podcastListViewItem h4 {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: 5px;
  }

  .podcastListViewItem p {
    font-size: .8em;
  }

  .podcastListViewItem audio {
    width: 100%;
    margin-top: 20px;
  }

#wrapper .breadcrumb {
  height: 40px;
  /*background: transparent url(Images/bg.png) repeat-x 0 0;*/
  clear: both;
}

  #wrapper .breadcrumb h3 {
    font: 24px Georgia, Arial, "sans-serif";
    clear: left;
    margin: 20px 0 0 148px;
    color: #000;
  }

  /** Customize the site map (bread crumb) */
  #wrapper .breadcrumb .RadSiteMap {
    border-left: 140px solid #ffa800;
  }

  #wrapper .breadcrumb ul.rsmFlow {
    padding-bottom: 0;
  }

  #wrapper .breadcrumb .rsmOneLevel li.rsmItem,
  #wrapper .breadcrumb .rsmOneLevel .rsmItem a.rsmLink {
    color: #333;
  }

    #wrapper .breadcrumb .rsmOneLevel .rsmItem a.rsmLink:hover {
      color: #555;
      text-decoration: underline;
      background: none;
    }
